.bar{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 400vh;
    position: fixed;
    top: 0;
    background-color: #F2F0F7;
    z-index: 100;
   
}

.cross{
  position: absolute;
  right: 10px;
  top: 10px;
}

.page{
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.pages{
    margin: 20px;
    display: flex;
    align-items: center;
}

.main{
    color: white;
}

